{% extends 'base.html' %}
{% load static %}

{% block city_sidebar %}
    {% include 'ideas/ideas_city_admin_inbox_sidebar.html' %}
{% endblock %}

{% block title %}City Admin Inbox{% endblock %}

{% block city_content %}
<div class="modal-header">
        <h1 id="not-submitted-title">City Admin Inbox</h2>
</div>
<table class="idea-table">
    <thead>
        <tr>
            <th>Topic</th>
            <th>Subject Line</th>
            <th>Date</th>
            <th>Read Status</th>
        </tr>
    </thead>
    <tbody>
        {% for suggestion in ideas %}
            <tr data-href="{% url 'admin_idea_detail' suggestion.id %}">
                <td>{{ suggestion.topic }}</td>
                <td>{{ suggestion.subject_line }}</td>
                <td>{{ suggestion.time_stamp }}</td>
                <td>{{ suggestion.read_status }}</td>
            </tr> 
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block city_scripts %}
    <script src="{% static 'js/IdeaInBoxLinks.js' %}"></script>
{% endblock %}