<!-- templates/base.html -->
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>{% block title %}CivicInnovation Through You{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extra_head %}
    {% endblock %}
</head>
<body>
    {% include 'navbar.html' %}
    <div class="page-layout">
        <!-- {% include 'homeSidebar.html' %} -->
        {% block city_sidebar %}{% endblock %}
        <main class="main-content">
          {% block city_content %}{% endblock %}
          {% block city_scripts %}{% endblock %}
        </main>
    </div>
    <script src="{% static 'js/SubmitIdeasPopup.js' %}"></script>
</body>
</html>