{% extends 'sidebar.html' %}
{% load static %}
{% load avatar_tags %}

{% block city_sidebar_content %}
  <h3 class="sidebar-title">About Me</h3><br>
    {% if user.is_authenticated %}

    <h3 class="sidebar-user">
      {% avatar user class="user-sidebar-icon-img" %}
      <span class="username">{{ user.username }}</span>
    </h3>
    <span class="sidebar-user"><a href="{% url 'avatar:change' %}" target="_blank" rel="noopener noreferrer">Change your avatar</a></span>

    {% endif %}

{% endblock %}