{% extends "base.html" %}

{% load i18n avatar_tags %}

{% block city_sidebar %}
    {% if user.is_authenticated %}
        {% include 'homeSidebar.html' %}
    {% endif %}
{% endblock %}

{% block city_content %}
    <h2>{% trans "Your Current Avatar: " %}</h2>
    {% avatar user %}
    {% if not avatars %}
        <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
    {% else %}
        <h2>{% trans "Current Avatar Options:" %}</h2>
        <form method="POST" action="{% url 'avatar:change' %}">
            <ul>
                {{ primary_avatar_form.as_ul }}
            </ul>
            <p>{% csrf_token %}<input type="submit" value="{% trans "Use This Avatar" %}" /></p>
        </form>
    {% endif %}

    <h2>{% trans "Upload a New Avatar:" %}</h2>
    <form enctype="multipart/form-data" method="POST" action="{% url 'avatar:add' %}">
        {{ upload_avatar_form.as_p }}
        <p>{% csrf_token %}<input type="submit" value="{% trans "Upload New Avatar" %}" /></p>
    </form>
{% endblock %}