{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load static %}

{% block city_sidebar %}
    {% if user.is_authenticated and not perms.users.can_admin_site %}
        {% include 'idea_forum/forum_sidebar.html' %}
    {% endif %}
{% endblock %}

{% comment %} replaces Machina's _base.html; is the base that's extended by Machina's board_base.html {% endcomment %}

{% block extra_head %}
    {% block css %}
    {% endblock css %}

    {% block extra_css %}
    {% endblock extra_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}


{% block title %}CITY Forum{% endblock %}

{% block city_content %}
    {% block js %}
    {% endblock js %}

    {% block body %}
    {% endblock body %}

    {% comment %} {% block content %}
    {% endblock %} {% endcomment %}

    {% block extra_js %}
    {% endblock extra_js %}
{% endblock %}

{% block city_scripts %}
<script src="{% static 'js/SubmitIdeasPopup.js' %}"></script>

{% endblock %}